{
  "name": "Hypothesis Firefox (OAuth test)",
  "short_name": "Hypothesis",
  "version": "{{ version }}",
  {{#browserIsChrome}}
  "version_name": "{{ version }} ({{ versionName }})",
  {{/browserIsChrome}}
  "manifest_version": 3,

  {{#browserIsChrome}}
  "minimum_chrome_version": "88",
  {{/browserIsChrome}}

  {{#key}}
  "key": "{{{ key }}}",
  {{/key}}

  {{#browserIsFirefox}}
  "browser_specific_settings": {
    "gecko": {
      "id": "hypothesis-firefox-unsigned-test@hermitm0nk.github",
      "strict_min_version": "140.0",
      "data_collection_permissions": {
        "required": [
          "personallyIdentifyingInfo",
          "authenticationInfo",
          "browsingActivity",
          "websiteContent"
        ]
      }
    }
  },
  {{/browserIsFirefox}}

  "description": "Collaboratively annotate, highlight, and tag web pages and PDF documents.",
  "icons": {
    "16": "images/icon16.png",
    "48": "images/icon48.png",
    "128": "images/icon128.png"
  },

  "homepage_url": "https://hypothes.is/",

  {{! Firefox does not support the "split" mode.
      See https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/incognito
  }}
  {{#browserIsChrome}}
  "incognito": "split",
  {{/browserIsChrome}}

  "options_ui": {
    "page": "options/index.html"
  },

  {{#browserIsChrome}}
  "offline_enabled": false,
  {{/browserIsChrome}}

  "permissions": [
    "scripting",
    "storage",
    "tabs"
  ],

  "host_permissions": ["<all_urls>"],

  {{#browserIsFirefox}}
  "content_scripts": [{
    "matches": ["https://hypothes.is/oauth/authorize*"],
    "js": ["oauth-callback.js"],
    "run_at": "document_start"
  }],
  {{/browserIsFirefox}}

  "optional_permissions": [
    {{! Used to enumerate frames on certain websites. }}
    "webNavigation"
  ],

  "background": {
    {{#browserIsFirefox}}
    "scripts": ["extension.bundle.js"]
    {{/browserIsFirefox}}
    {{#browserIsChrome}}
    "service_worker": "extension.bundle.js"
    {{/browserIsChrome}}
  },

  "action": {
    "default_icon": {
      "19": "images/browser-icon-inactive.png",
      "38": "images/browser-icon-inactive@2x.png"
    }
  },

  {{#browserIsFirefox}}
  "commands": {
    "toggle-hypothesis": {
      "suggested_key": { "default": "Alt+Shift+H" },
      "description": "Toggle Hypothesis on the current tab"
    }
  },
  {{/browserIsFirefox}}

  {{#browserIsChrome}}
  "externally_connectable": {
    {{#bouncerUrl}}"matches": ["{{&bouncerUrl}}*"]{{/bouncerUrl}}
  },
  {{/browserIsChrome}}

  "web_accessible_resources": [
    {
      "resources": [
        "client/*",
        "help/*",
        "pdfjs/*",
        "pdfjs/web/viewer.html"
      ],
      "matches": ["<all_urls>"]
    }
  ]
}
